*{
    box-sizing: border-box;
}
body{
    
}
header{
    background-color: aqua;
    text-align: center;
    padding: 15px;
}
nav{
    float: left;
    width: 20%;
    height: 750px;
    background-color: white;
    padding-top: 20px;
}
nav li{
    list-style-type:none ;
}
article{
    background-color: white;
    padding: 5%;
    width: 80%;
    float: left;
    height: 750px;
}
footer{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}
.btnnav{
    background-color: blue;
    /* display: inline-block; */
    padding: 15px;
    /* width: 80%; */
    margin-bottom: 10px;
    /* border-radius: 15px; */
    transition: background-color 0.3s ease;
    text-align: center;
}
.btnnav:hover{
    background-color: rgb(219, 34, 34);
}
li{
    padding: 8px;
    margin-bottom: 7px;
}
a{
    text-decoration: none;
    color: white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    display: flex;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  
  .card-text {
    text-align: center;
    padding: 10px;
  }
  
  .card-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #333;
  }
ul{
    margin: 0;
    padding: 0;
}
.doboz{
    display: flex;
}
